# Rust
/target
**/target
Cargo.lock.bak

# Anchor / Solana
.anchor
test-ledger/
*.so

# Node / Frontend
node_modules/
dist/
.next/
.turbo/

# Env files
.env
.env.local
.env.*.local
!.env.example

# Editor / OS
.vscode/
.idea/
.DS_Store
*.swp

# Logs
*.log
npm-debug.log*

# Misc
.cache/
coverage/

# Mine
.docs/brainstorm